<div class="loader">
  <div class="loader-wrapper">
    <div class="bubble1"></div>
    <div class="bubble2"></div>
  </div>
</div>

<header>
  <div class="container">
    <div class="row">
      <div class="col-sm-12 visible-sm visible-xs">
        <!-- box-telephone -->
        <div class="box-telephone ">
          <address>
            <span class="icon icon-telephone"></span>91 408 18 64
          </address>
          <div class="time hidden-sm hidden-xs">Lun-Vie 9:30-13:30 & 17:00-20:00<br>Sáb. 9:30-14:00</div>
        </div>
        <!-- /box-telephone -->
      </div>
      <div class="col-sm-12 col-md-4 col-lg-4 hidden-sm hidden-xs">
        <!-- box-location -->
        <address class="box-location">
          Calle de Ascao 3<br> 28017 Madrid
        </address>
        <!-- /box-location -->
      </div>
      <div class="col-sm-12 col-md-4 col-lg-4 text-center">
        <!-- logo -->
        <a class="logo" title="Laundry & Dry Cleaning" href="/index.php"><%= image_tag "logo.png", "class" => "img-responsive", "alt" => "Laundry & Dry Cleaning" %></a>
        <!-- /logo -->
      </div>
      <div class="col-sm-12 col-md-4 col-lg-4 hidden-sm hidden-xs">
        <!-- box-telephone -->
        <div class="box-telephone ">
          <address>
            91 408 18 64
          </address>
          <div class="time hidden-sm">Lun-Vie 9:30-13:30 & 17:00-20:00<br>Sáb. 9:30-13:30</div>
        </div>
        <!-- /box-telephone -->
      </div>
    </div>
  </div>
  <div class="box-nav">
    <div class="container">
      <div class="row">
        <div class="center">
          <a id="touch-menu" class="mobile-menu" href="#">
            <span class="icon-menu-button-of-three-horizontal-lines"></span>
          </a>
          <nav class="top-menu">
            <ul class="menu">
              <li><a href="/index.php">Inicio</a></li>
              <li>
                <a href="#">Servicios</a>
                <ul>
                  <li><a href="/pages/service-page-1.php">Servicio de lavandería</a></li>
                  <li><a href="/pages/service-page-2.php">Lavado en seco</a></li>
                  <li><a href="/pages/service-page-3.php">Cuero, ante y otras pieles</a></li>
                  <li><a href="/pages/service-page-4.php">Vestidos de boda y eventos</a></li>
                  <li><a href="/pages/service-page-5.php">Arreglos de costura</a></li>
                  <li><a href="/pages/service-page-6.php">Uniformes y ropa de trabajo</a></li>
                  <li><a href="/pages/service-page-7.php">Ropa de cama</a></li>
                </ul>
              </li>
              <li><a href="/pages/prices.php">Precios</a></li>
              <li><a href="/pages/faq.php">Preguntas frecuentes</a></li>
              <li><a href="/pages/contact.php">Contacta con nosotros</a></li>
              <li><a href="https://www.facebook.com/lalavanderamadrid/" target="_blank">Ofertas</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</header>
