<div id="choose_us" class="container">
  <div class="title-underline"><%= t('index.choose_us.title') %></div>

  <div class="row permission-box-mobile arrow-on-white">
    <%
      {
        item_1: 'bright-lightbulb',
        item_2: 'tag-1',
        item_3: 'reading-book',
        item_4: 'quality',
        item_5: 'express-delivery',
        item_6: 'interface'
      }.each do |text_key, icon|
    %>
      <%= partial 'partials/index/choose_us/fact', locals: { text_key: text_key, icon: icon } %>
    <% end %>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="text-center offset-top35"><a href="<%= link_path(:prices) %>" class="btn btn-default"><%= t("index.choose_us.prices") %></a></div>
    </div>
  </div>
</div>
