<div class="col-md-4">
  <div class="permission-box animation" data-animation="fadeInLeft" data-animation-delay="0s">
    <div class="icon icon-<%= icon %>"></div>

    <div class="description">
      <h3 class="title"><%= t("index.choose_us.#{text_key}.title") %></h3>

      <p><%= t("index.choose_us.#{text_key}.text") %></p>
    </div>
  </div>
</div>
