<div class="col-md-4">
  <span class="permission-box animation" data-animation="fadeInLeft" data-animation-delay="0s">
    <span class="icon icon-<%= icon %>"></span>

    <span class="description">
      <h4 class="title"><%= t("index.choose_us.#{text_key}.title") %></h4>

      <p><%= t("index.choose_us.#{text_key}.text") %></p>
    </span>
  </span>
</div>
