.change-locale {
  background: #415d9d;
  color: #ffffff !important;
  font-size: 0.85em;
  float: right;
  text-align: center;
  padding: 2px 8px;
  border-radius: 0 0 5px 5px;

  &:hover {
    color: #ffffff;
  }
}

.accordion {
  margin-bottom: 50px;
}

h2.inline-title {
  margin: 40px 0 20px 0;
  padding: 0;
}
