<footer class="offset-top0">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="row footer-separator">
          <div class="col-md-8 col-lg-9">
            <!-- promo  -->
            <div class="promo-footer">
              <span class="text-1">¡Llámanos!</span>
              <span class="text-2">91 408 18 64</span>
            </div>
            <!-- /promo -->
          </div>
          <div class="col-md-4 col-lg-3">
            <!-- social-icon -->
            <ul class="social-icon-footer">
              <li>
                <a href="<%= t('global.facebook_page') %>" class="icon-facebook-logo"></a>
              </li>
              <li>
                <a href="<%= t('global.instagram_page') %>" class="icon-instagram-social-network-logo-of-photo-camera"></a>
              </li>
            </ul>
            <!-- /social-icon -->
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="bubbleContainer"></div>
</footer>
