body.services, {
  .contact-service {
    margin: 20px 0 40px 0;
  }

  #services {
    padding: 0;

    .container {
      padding: 0;
    }
  }
}

body.service {
  .options {
    padding: 30px 0 55px 0;
  }
}
