h1 {
  line-height: 0;
  text-indent: -9999999999px;
  position: absolute;
}

.change-locale {
  background: #415d9d;
  color: #ffffff !important;
  font-size: 0.85em;
  float: right;
  text-align: center;
  padding: 2px 8px;
  border-radius: 0 0 5px 5px;

  &:hover {
    color: #ffffff;
  }
}

.accordion {
  margin-bottom: 50px;
}
