<div class="box-nav">
  <div class="container">
    <div class="row">
      <div class="center">
        <a id="touch-menu" class="mobile-menu" href="#">
          <span class="icon-menu-button-of-three-horizontal-lines"></span>
        </a>
        <nav class="top-menu">
          <ul class="menu">
            <% config[:navigation].each do |nav_element| %>
              <li>
                <%= nav_element_link(nav_element) %>
                <% if nav_element[:items].present? %>
                  <ul>
                    <% nav_element[:items].each do |nav_sub_element| %>
                      <li><%= nav_element_link(nav_sub_element) %></li>
                    <% end %>
                  </ul>
                <% end %>
              </li>
            <% end %>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>
