<div class="box-nav">
  <div class="container">
    <div class="row">
      <div class="center">
        <a id="touch-menu" class="mobile-menu" href="#">
          <span class="icon-menu-button-of-three-horizontal-lines"></span>
        </a>

        <nav class="top-menu">
          <ul class="menu">
            <% t('navigation').each do |page,data| %>
              <li>
                <%= nav_link(page,data) %>
                <% if data[:items].present? %>
                  <ul>
                    <% data[:items].each do |page,text| %>
                      <li><%= nav_link(page, { text: text }) %></li>
                    <% end %>
                  </ul>
                <% end %>
              </li>
            <% end %>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>
